[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
simplejson = "*"
requests = "<2.31.0"
python-crontab = "*"
pytz = "*"
flask-cors = "*"
flask-restful = "*"
urllib3 ="<2"

[requires]
python_version = "3.9"

[dev-packages]
