certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==0.12.2
Flask-Cors==3.0.3
gunicorn==19.9.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
python-crontab==2.2.6
python-dateutil==2.7.5
pytz==2017.3
requests==2.18.4
simplejson==3.11.1
six==1.12.0
urllib3==1.22
Werkzeug==0.15.3
